*.gz
Part 2/data/*
!Part 2/data/.gitkeep
!Part 2/data/*.png

!Part 2/data/imagenet.zip
!Part 2/data/handwritings/*

!Part 2/data/models
Part 2/data/models/*

!Part 2/data/mnistgz
Part 2/data/mnistgz/*

!.gitkeep

